$fondNavColor : #E2EEF2;
$footerColor : #164681;
$fondAccueilColor : #5E6E99;
$fondPagesColor : #f0f3f9;
$textJauneColor: #E8B436;
$textBleuColor : #3263b5;
$textNoirColor : #333;
$fondCarouselColor : #aac7f4;

