$fondNavColor : #E2EEF2;
$footerColor : rgb(22, 70, 129);
$fondAccueilColor : #5E6E99;
$fondPagesColor : #f0f3f9;
$textJauneColor: #E8B436;
$textBleuColor : #3263b5;
$textNoirColor : #333;
$fondCarouselColor :#f4f4f9;

