$fondNavColor : #E2EEF2;
$footerColor : #164681;
$fondAccueilColor : #5E6E99;
$fondPagesColor : #f0f3f9;
$textJauneColor: #E8B436;
$textBleuColor : #3263b5;
$textNoirColor : #333;
$textGrisColor : #666;
$fondCarouselColor : #aac7f4;
$blanc : #FFFFFF;
$vert : #00FF00;
$rouge : #dc143c;
$noir : #000000;
$vertBordure : #67B869;
$orangeBordure : #FBA154;
$bleuBordure : #5E9CC8;
$rougeBordure : #DE6366;
$fondToggle : #adbdf3;
$fondToggleHover : #e0e7ee;
$textToggleHover : #29487d;
$fondDot : #bbb;
$fondAffichage : #f9f9f9;
$fondDotActive : #717171;
$fondContactInput : #F9F9F9b;
$borderContactInputFocus : #bcd9e1b;
$fondContactBouton : #083847;
$fondContactBoutonHover : #155870;
$fondBenefBouton : #0d6efd;
$benevolBoutonVert : #42c304;
$listBenTitre : #00008B;
