{% extends 'interne/partial/intBase.html.twig' %}

{% block metatitle %}
    - Accueil benevole
{% endblock %}


{% block main %}

<section class="accueil">

    <article>
        <div class="textArriere">
            <h1>Page accueil BENEVOLES</h1>
        </div>

    </article>
</section>

{% endblock %}