{# templates/beneficiaire/insertDemande.html.twig #}

{% extends 'interne/partial/intBase.html.twig' %}

{% block metatitle %}
    - insert demande
{% endblock %}


{% block main %}

<h1 class="text-danger">AJOUT D'UNE DEMANDE POUR </h1>

{% endblock %}