{% extends 'interne/partial/intBase.html.twig' %}

{% block metatitle %}
    admin : modification benevole
{% endblock %}

{% block main %}

        <h1> Ajout d'un bénévole </h1>

        {{ form(benevoleForm) }}

{% endblock %}