{# templates/demande/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier Demande{% endblock %}

{% block body %}
    <h1>Modifier Demande</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('route_initiale') }}">Annuler</a>
{% endblock %}