{% extends 'interne/partial/intBase.html.twig' %}

{% block metatitle %}
    admin : modification benevole
{% endblock %}

{% block main %}

    <section class="tailleben">
        <h1> Mettre à jour un benevole </h1>

        {{ form(benevoleForm) }}

    </section>

{% endblock %}