.aider {
  background-color: $fondPagesColor;
  padding: 20px;
  border-radius: 8px;
  color: $textBleuColor;
  width: 90%;
  margin: 0 auto;

  h1 {
    color: $textJauneColor;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
  }

  .content {
    margin-bottom: 30px;

    p {
      margin-bottom: 15px;
      line-height: 1.6;
      font-size: 1em;
    }

    h4 {
      color: $textJauneColor;
      margin-top: 30px;
      text-align: center;
    }
  }

  .destinataire{
    color: $textJauneColor;
    font-weight: bold;
    font-size: 1.3em;
  }

  .columns {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  .column {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
  }

  .column img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .image-container {
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }

  .align-container {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
  }

  .align-container:hover {
    transform: translateY(-5px);
  }

  .image-text {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .image-text img {
    width: 20%;
    height: auto;
    border-radius: 8px;
  }

  .image-text a {
    color: $textBleuColor;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
  }

  .image-text a:hover {
    text-decoration: underline;
  }

  .tel {
    color: $textBleuColor;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
  }

  .bvert{
    border: 2px solid $vertBordure;
    border-radius: 8px;
  }
  .bbleu{
    border: 2px solid $bleuBordure;
    border-radius: 8px;
  }
  .borange{
    border: 2px solid $orangeBordure;
    border-radius: 8px;
  }
  .brouge{
    border: 2px solid $rougeBordure;
    border-radius: 8px;
  }

  .vert{
    color: $vertBordure;
  }
  .bleu{
    color: $bleuBordure;
  }
  .orange{
    color: $orangeBordure;
  }
  .rouge{
    color: $rougeBordure;
  }
  @media  screen and (max-width: 1024px) {
    .aider {
      padding: 10px;
      width: 100%;
      margin: 0;
    }
    .column img,
    .image-text img {
      display: none;
    }
  }

  @media screen and (max-width: 460px) {
    .columns {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .column {
      width: 100%!important;
      display: flex;
      flex-direction: row!important;
      justify-content: space-between;
      gap: 10px;
    }

    .align-container {
      width: 100%!important;
      box-sizing: border-box!important;
    }

    .image-container {
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .column img,
    .image-text img {
      display: none;
    }

    .image-text a {
      font-size: 0.9em;
      line-height: 1.4;
      text-align: center;
    }
  }
}

