.onedemande{
    p{
      font-size: 14px;
    }
    h1{
      text-align: center;
      color :$footerColor;
      padding: 20px;
    }
    h3{
      text-align: center;
      color :$textJauneColor;
      padding: 20px;
    }
    .affichage-groupe {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 40px;
     padding: 30px 0;
    }
    .fondbleu{
      background-color: $fondCarouselColor;
    }
    .affichage-detail {
      justify-content: space-between;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      background-color: #f9f9f9;
      width: calc(45% - 20px);
      box-sizing: border-box;
    }
  .affichage-detailbis {
    justify-content: space-between;
    width: calc(33.333% - 20px);
  }
  .affichage-fin {
    width: 100%;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    box-sizing: border-box;
  }


    .titre{
      color : $textJauneColor;
      font-weight :bold;
      align-content: center;
      border : none;
      background-color: $fondCarouselColor;
      text-align: center;
    }
    .specdemande{
      width: 30%;
      line-height :0.8;
    }

    .specdemande1{
      width: 20%;
      line-height :0.8;
    }
    .specdemande2{
       width: 45%;
       line-height :0.8;
     }

    .fin{
      p{
        text-align: right;
      }
    }
  h6{
    color : $textJauneColor;
    text-align: center;
  }
  .commentaires{
    width: 100%;
    min-height: 200px;
    line-height :0.8;
  }
    span{
      font-weight :bold;
      color :$footerColor;
    }
  .btn-remove-beneficiaire {
    padding: 3px 3px;
    font-size: 12px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    position: relative;
  }

  .retrait{
    padding-left: 10px;
  }

  .btn-remove-beneficiaire i {
  }

  .btn-remove-beneficiaire:hover::after {
    content: "Suppression";
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #dc3545;
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
    white-space: nowrap;
  }
  .btn-over {
    padding: 0 10px;
    position: relative;
  }

  .btn-over:hover::after {
    content: "Modification";
    font-size: 12px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: $textBleuColor;
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
    white-space: nowrap;
  }

  .ajout{
    font-size: 10px;
  }



}