{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    - bénévole
{% endblock %}

{% block main %}

    <section class="nousaider">
        <div class="title-container">
            <ul class="title-list">
                <li class="title-icon"><img src="{{ asset('img/benevole1.jpg') }}" alt="benevoles" class="title-img" /></li>
                <li><h1>Rejoignez les équipes d'experts bénévoles de CRÉSUS Gironde</h1></li>
            </ul>
        </div>
        <article>
            <div class="content">
                <p>Nous sommes très attachés à la diversité de nos bénévoles: si comptables, banquiers, financiers sont naturellement bienvenus, nous souhaitons accueillir aussi des personnes venant de tous milieux professionnels.</p>
                <p>Car ils permettent d'enrichir les échanges avec nos bénéficiaires..</p>
            </div>
        </article>
        <article class="flex-container">
            <div class="column">
                <h3 >Quelles sont les missions du bénévole ?</h3>
                <div >
                    <p> Les bénévoles ont pour mission d'<b>accueillir des personnes ou des familles</b> en difficultés financières ou surendettées, de les aider à mettre de la clarté dans leurs affaires d’argent, et, s’il le faut, à déposer un dossier de surendettement. </p>
                    <p> Pour celà, les bénévoles <b>assurent des permanences</b> principalement dans les Centres d’Action Sociale, les Points d’Accès au Droit ou les Maisons de Justice et du Droit. Ils participent aussi à la vie de l’association et aux réunions organisées pour partager les expériences de chacun.</p>
                    <p> Ces permanences se déroulent en moyenne une fois par semaine et sont réparties sur toute la Gironde.</p>
                    <p> Le principe de fonctionnement de l’association est le travail en équipe. Dans les permanences, l'accueil et les entretiens se réalisent en <b>binôme</b>, afin de donner plus de richesse et de convivialité aux échanges.</p>

                </div>
                <div>
                    <img src="{{ asset('img/cc.webp') }}" alt="agir ensemble" class="title-img" />
                </div>
            </div>
            <div class="column">
                <div>
                    <img src="{{ asset('img/bb.jpg') }}" alt="progresser" class="title-img" />
                </div>
                <h3 >Qui peut devenir bénévole ?</h3>
                <div >
                    <p> Toutes les personnes qui souhaitent donner de leur temps pour aider les autres</p>
                    <br>
                    <p> <b> La diversité des origines professionnelles</b> est primordiale.</p>
                    <p> <b> La bienveillance, la discrétion ainsi que la compréhension sans jugement sont nos valeurs essentielles</b>.</p>
                    <br>
                    <p> Nous assurons votre formation progressivement :</p>
                    <ul>
                        <li>- Par des permanences « en doublon » avec un bénévole expérimenté</li>
                        <li>- Par l’échange avec la présidence de l'association et entre adhérents en réunions d’équipes </li>
                        <li>- Par des formations spécifiques en distanciel sur les différentes aides et suivis</li>
                        <li>- Par des webinaires, en particulier avec la Banque de France</li>
                    </ul>
                    <br>
                </div>
                <h3 >Comment faire pour nous rejoindre ?</h3>
                <div >
                    <h4> Si vous êtes intéressés ou si vous désirez un renseignement</h4>
                    <h4> Vous pouvez nous contacter au<a class="telephone" href="tel:0666577133"> 06.66.57.71.33</a></h4>
                </div>
            </div>
        </article>

    </section>

{% endblock %}