{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    Cresus Accueil
{% endblock %}

{% block main %}

    <section class="dilemme">
        <h2>L’importance de l’éducation budgétaire</h2>
        <article>
            <div class="content-wrapper">
                <p>Avec la conviction que la prévention est une clé essentielle pour éviter l’exclusion financière, le programme Dilemme permet avant tout de changer la relation à l’argent, de former des citoyens responsables ainsi que des consommateurs qui auront les outils et connaissances nécessaires pour gagner en autonomie.</p>
                <br>
                <p>Des méthodes innovantes d’éducation financière construites autour d’outils ludiques (jeu de plateau grand format), Dilemme propose une initiation d’apprentissage basée sur des allers-retours constants entre expérimentation et théorie.</p>

                <div class="features">
                    <div class="feature">
                        <div class="image-container">
                            <img src="{{ asset('img/jeu-de-plateau.png') }}" alt="jeu Dilemme - ludique" />
                        </div>
                        <h3>LUDIQUE</h3>
                        <p>Grâce à des outils ludiques, favoriser et libérer le dialogue autour de l’argent.</p>
                    </div>
                    <div class="feature">
                        <div class="image-container">
                            <img src="{{ asset('img/casquette-de-graduation.png') }}" alt="jeu Dilemme - éducatif" />
                        </div>
                        <h3>ÉDUCATIF</h3>
                        <p>Aborder les problématiques de la gestion d’un budget par la pratique en organisant vos sessions de jeu.</p>
                    </div>
                    <div class="feature">
                        <div class="image-container">
                            <img src="{{ asset('img/groupe.png') }}" alt="jeu Dilemme - participatif" />
                        </div>
                        <h3>PARTICIPATIF</h3>
                        <p>Permettre l’acquisition des savoirs essentiels concernant les produits bancaires et assurantiels.</p>
                    </div>
                </div>
            </div>
        </article>



        <h2> Déroulement des ateliers </h2>
        <article>
            <div>






            </div>




            <div >
                <p> Dilemme Éducation est basé sur un jeu de plateau dans lequel chaque tour représente 1 mois. </p>
                <p> Les joueurs, regroupés en équipes de 2 à 4, doivent collectivement s’acquitter d’un ensemble de charges prédéfinies, économiser pour réaliser un projet défini en début de partie et collecter des points plaisir correspondant à des loisirs et à des activités culturelles.</p>
                <div >
                    <p>de 6 à 12 joueurs</p>
                    <p>2h à 2h30 en présentiel</p>
                    <p>vous pouvez nous contacter au 06 xx xx xx xx pour plus d'informations</p>
                </div >
            </div >




        </article>

        <div id="bouton">
            <a href="{{ path("noustrouver") }}"> Nous contacter</a>
        </div>
    </section>



{% endblock %}