{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    Cresus Accueil
{% endblock %}

{% block main %}

    <section class="dilemme">
       <h1> Prévenir le surendettement </h1>
        <article>
            <div >
                <p>Une des priorités de CRÉSUS Gironde est la prévention active du surendettement en formant les personnes, en paticulier les plus jeunes, en les formant au travers d'un jeu  à la gestion du budget et des finances tout en les aidant à découvrir les notions élémentaires d'un équilibre financier.</p>
                <p>Des méthodes innovantes d’éducation financière construites autour d’outils ludiques (jeu de plateau grand format), le programme Dilemme propose une initiation d’apprentissage basée sur des allers-retours constants entre expérimentation et théorie.</p>
                <div>

                    <h3>LUDIQUE</h3>
                    <p>Grâce à des outils ludiques, favoriser et libérer le dialogue autour de l’argent.</p>
                </div>
                <div>

                    <h3>EDUCATIF</h3>
                    <p>Aborder les problématiques de la gestion d’un budget par la pratique en organisant vos sessions de jeu.</p>
                </div>
                <div>

                    <h3>PARTICIPATIF</h3>
                    <p>Permettre l’acquisition des savoirs essentiels concernant les produits bancaires et assurantiels.</p>
                </div>





            </div>

        </article>
    </section>
    <section>
        <div id="bouton">
            <a href="{{ path("noustrouver") }}"> Nous contacter</a>
        </div>
    </section>



{% endblock %}