{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    - mentions legales
{% endblock %}

{% block main %}

<section class="mentions">
    <button class="button-custom" onclick="window.history.back()">Retour</button>
    <h1>Mentions Légales</h1>

        <h3>1. Présentation du site :</h3>

            <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : cresus-gironde.org les informations suivantes :</p>
            <p>Informations légales</p>
            <p>Statut du propriétaire : Association loi 1901</p>
            <p>Nom : Crésus Gironde </p>
            <p>Adresse : 24, allée Ernest de Boissière  - 33 980  AUDENGE </p>
            <p>Tél : 06 66 57 71 33</p>
            <p>SIRET :  752 518 977 00034 Code APE 9499Z</p>
            <p>Adresse de courrier électronique : cresusgironde@laposte.net </p>
            <p></p>
            <p>Le Responsable de la publication est : le Président de CRESUS Gironde, Isabelle DAVIATTE</p>
            <p>Le responsable de la publication est une personne morale</p>
            <p>Pour Contacter le responsable de la publication: cresusgironde@laposte.net</p>
            <p></p>
            <p>Le Créateur du site est : Claude DAVIATTE</p>
            <p>Le webmaster est : Claude DAVIATTE</p>
            <p>Pour Contacter le webmaster : cresusgironde@laposte.net</p>
            <p>L’hebergeur du site est : à définir </p>

        <h3>2. Description des services fournis :</h3>

            <p>Le site cresus-gironde.org a pour objet de fournir une information concernant l’ensemble des activités de l'association.</p>
            <p>Le propriétaire du site s’efforce de fournir sur le site cresus-gironde.org des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>
            <p>Tous les informations proposées sur le site cresus-gironde.org sont données à titre indicatif, sont non exhaustives, et sont susceptibles d’évoluer. Elles sont données sous réserve de modifications ayant été apportées depuis leur mise en ligne. </p>

        <h3>3. Propriété intellectuelle et contrefaçons :</h3>

            <p>Le propriétaire du site est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels… </p>
            <p>Toute reproduction, représentation, modification, publication, adaptation totale ou partielle des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable à l’email: cresusgironde@laposte.net . </p>
            <p>Toute exploitation non autorisée du site ou de l’un quelconque de ces éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle. </p>

    <h3>4. Liens hypertextes et cookies :</h3>

            <p>L’utilisateur est informé que lors de ses visites sur le site cresus-gironde.org, un ou des cookies sont susceptible de s’installer automatiquement sur son ordinateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.</p>
            <p>Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et éventuellement, de refuser de la manière décrite à l’adresse suivante : www.cnil.fr</p>
            <p>Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur, pour refuser l’installation des cookies.</p>

    <h3>5. Confidentialité des données personnelles :</h3>

            <p>Pour exercer son activité, Crésus Gironde utilise des données personnelles recueillies auprès de ses usagers, et elle a toujours veillé  au strict respect de la confidentialité de ces données. Notre politique de confidentialité des données personnelles est définie et conduite sur la base de quatre principes :</p>
            <p>•	Sécurité des données collectées : Notre association s’engage, par des moyens techniques et organisationnels, à protéger et à sécuriser vos données à caractère personnel afin qu’elles ne puissent faire l’objet d’aucune altération, perte ou accès non autorisé.</p>
            <p>•	Finalités de l’utilisation de ces données : Notre association utilise ces données personnelles uniquement dans le cadre de son activité de prévention et de traitement des situations de surendettement.</p>
            <p>•	Conservation temporaire de ces données : Notre association ne conserve ces données que pour la durée strictement nécessaire à la réalisation de cette activité pour laquelle elles ont été collectées.</p>
            <p>•	Respect des droits des personnes   concernées : Conformément à la loi « Informatique et Liberté » et à la réglementation européenne, vous pouvez vous opposer à l’utilisation de vos données à caractère personnel. Vous bénéficiez d’un droit d’accès à vos données pour leur rectification, limitation, ou effacement, soit en nous adressant un e-mail à l’adresse suivante : cresusgironde@laposte.net</p>
            <p></p>
            <p>Si vous n’êtes pas satisfait de nos échanges, vous avez la possibilité de saisir la Commission Nationale de l’Informatique et des Libertés (CNIL) à l’adresse suivante : CNIL – 3 place de Fontenoy – TSA 80715 – 75334 Paris cedex 07</p>
            <p>Cette politique de confidentialité des données personnelles pourra bien sûr être modifiée afin de se conformer à de possibles évolutions futures du cadre légal et réglementaire.</p>


    <h3>Crédits : </h3>

    <p>Crédits iconographiques</p>
    <p>designed by par Regina Anggraini - Flaticon</p>
    <p>designed by Those Icons - Flaticon</p>
    <p>designed by rukanicon - Flaticon</p>
    <p>designed by Freepik - Flaticon</p>
    <p>designed by Zaenul Yahya - Flaticon</p>
    <p>designed by Laisa Islam Ani - Flaticon</p>

</section>
{% endblock %}

{# <! -- {% block javascript %} --> #}
{# <! -- <script src="JS/mentionslegales.js"></script>} --> #}
{# <! -- {% endblock %}} --> #}

