{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    - microcredit
{% endblock %}

{% block main %}

    <section class="microcredit">
        <div class="title-container">
            <ul class="title-list">
                <li class="title-icon"><img src="{{ asset('img/ee.jpg') }}" alt="donner une chance" class="title-img" /></li>
                <li><h1>MICROCREDIT SOCIAL PERSONNEL</h1></li>
                <li class="title-icon1"><img src="{{ asset('img/picto-micro-credit.png') }}" alt="picto microcrédit" class="title-img" /></li>
            </ul>
        </div>
        <article>
            <div class="contentnonhidden">
                <p>Le microcrédit social personnel est un crédit destiné aux personnes exclues du système bancaire classique : faibles revenus, situation professionnelle fragile, interdit bancaire, ...</p>
                <br>
                <p>Il sert à réaliser un projet spécifique personnel destiné à améliorer la situation de l'emprunteur. Dans le cadre de ce projet personnel, le microcrédit peut être utilisé pour acheter des biens ou services.</p>
            </div>
        </article>
        <article>
            <div class="toggle">
                <h3>À qui sert-il ?
                    <span class="chevron" data-direction="down">
                        <img src="img/chevron-double-down.png" alt="Chevron bas">
                    </span>
                </h3>
            </div>
            <div class="content">
                <p> Il s’agit d’un crédit personnel qui peut être accordé à ceux qui n’ont pas accès au crédit bancaire classique pour financer un projet en lien avec l’insertion sociale et professionnelle.</p>
                <br>
                <p> Il n'y a pas de conditions de revenus définies, les dépenses mensuelles du bénéficiaire ne doivent pas dépasser ses ressources et il doit disposer d’un reste à vivre suffisant pour payer la mensualité du crédit.</p>
            </div>
            <div class="toggle">
                <h3>De quoi s'agit-il ?
                    <span class="chevron" data-direction="down">
                        <img src="img/chevron-double-down.png" alt="Chevron bas">
                    </span>
                </h3>
            </div>
            <div class="content">
                <p> Le microcrédit personnel est fréquemment utilisé pour l'achat ou la réparation d'un véhicule, nécessaire à l'exercice d'une activité professionnelle.</p>
                <p> Ainsi, il peut résoudre un problème de mobilité : achat ou réparation d’une voiture, d’un scooter...</p>
                <br>
                <p> Mais il peut aussi servir à </p>
                <p> Accéder à un logement : frais d’agence, dépôt de garantie, équipement ménager et mobilier de première nécessité...</p>
                <p> Suivre une formation ou passer son permis de conduire</p>
                <p> Régler des frais de santé comme des lunettes, un appareil auditif, des soins dentaires...</p>
                <br>
                <p> Il ne peut pas servir pour des rachats de crédits, combler des découverts bancaires ou régler des retards (loyer ou impayés).</p>
            </div>
            <div class="toggle">
                <h3>Montant et durée ?
                    <span class="chevron" data-direction="down">
                        <img src="img/chevron-double-down.png" alt="Chevron bas">
                    </span>
                </h3>
            </div>
            <div class="content">
                <p> Les sommes empruntées sont adaptées à vos revenus.</p>
                <p> Elles sont comprises entre 300 € et 8000 €.</p>
                <br>
                <p> Les prêts sont remboursables sur des durées de 6 à 84 mois.</p>
            </div>
            <div class="toggle">
                <h3>Coût du crédit ?
                    <span class="chevron" data-direction="down">
                        <img src="img/chevron-double-down.png" alt="Chevron bas">
                    </span>
                </h3>
            </div>
            <div class="content">
                <p> Le taux du crédit est fixé par le prêteur.</p>
                <br>
                <p> Il est généralement situé aux alentours de 4% et il n'y a pas de frais de dossier.</p>
            </div>
            <div class="toggle">
                <h3>Quels justificatifs fournir ?
                    <span class="chevron" data-direction="down">
                        <img src="img/chevron-double-down.png" alt="Chevron bas">
                    </span>
                </h3>
            </div>
            <div class="content">
                <p> Les documents doivent être des copies ou des photocopies.</p>
                <br>
                <p> La copie d'une pièce d’identité recto verso en cours de validité (titulaire & conjoint) ou titre de séjour couvrant la durée du prêt,</p>
                <p> Les extraits bancaires mensuels (de tous vos comptes bancaires) des trois derniers mois complets,</p>
                <p> Les justificatifs des revenus des 3 derniers mois (fiche de paie, indemnités France Travail...),</p>
                <p> La copie des prestations sociales reçues (attestation allocations familiales, logement, RSA...),</p>
                <p> La copie du dernier avis d’imposition ou de non-imposition sur les revenus,</p>
                <p> Un relevé d’identité bancaire du demandeur ou du compte joint,</p>
                <p> Un justificatif de domicile de moins de 6 mois,</p>
                <p> Les justificatifs du projet : devis, description et estimation des dépenses,</p>
                <br>
                <p> Et éventuellement des documents complémentaires selon les situations (plan de redressement de la Banque de France, permis de conduire pour l'achat d'une voiture...).</p>
            </div>
            <div class="toggle">
                <h3>Démarches
                    <span class="chevron" data-direction="down">
                        <img src="img/chevron-double-down.png" alt="Chevron bas">
                    </span>
                </h3>
            </div>
            <div class="content">
                <p> <span class="souligne">Un référent Crésus Gironde</span> effectue un ou plusieurs points avec vous sur votre situation budgétaire et votre besoin lors de rendez-vous</p>
                <p> Il vous accompagne dans l’élaboration de la demande de prêt.</p>
                <br>
                <p> Il sera présent à vos côtés pour un accompagnement budgétaire, pendant toute la période de remboursement.</p>
                <div class="bouton">
                    <a href="{{ path("noustrouver") }}"> Nous contacter</a>
                </div>
            </div>
        </article>

    </section>

{% endblock %}

{% block javascript %}
<script src="JS/microcredit.js"></script>
{% endblock %}
