{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    Cresus Accueil
{% endblock %}

{% block main %}


        <h1 class="h1gdpublic"> Demande de contact ou de rendez-vous</h1>
    <section class="contact">
        <div class="divcontact">
<h2>Nos permanences</h2>


        </div>
        <div class="divcontact">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2843.046164212191!2d-0.24896342288599713!3d44.55515937107371!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd556d8c6d640eab%3A0xceda34917aae11c1!2sPl.%20l&#39;Horloge%2C%2033210%20Langon!5e0!3m2!1sfr!2sfr!4v1723193397381!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


        </div>
    </section>



{% endblock %}