{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    Cresus PCB
{% endblock %}

{% block main %}

    <section class="PCB">
        <div class="title-container">
            <ul class="title-list">
                <li class="title-icon"><img src="{{ asset('img/picto-calculette.png') }}" alt="picto calculette" class="title-img" /></li>
                <li><h2>POINT CONSEIL BUDGET</h2></li>
                <li class="title-icon"><img src="{{ asset('img/pcb.png') }}" alt="point conseil budget" class="title-img" /></li>
            </ul>
            <li><h2>Vous conseiller et répondre à toutes vos questions de budget</h2></li>
        </div>
        <article>
            <div class="content">
                <p>Les Points Conseil Budget (PCB) figurent parmi les mesures clés de la Stratégie nationale de prévention et de lutte contre la pauvreté. C’est un service gratuit labellisé par l’État, pour prévenir le surendettement et renforcer l’accompagnement des personnes pouvant rencontrer des difficultés financières.</p>
                <br>
                <p>Ils permettent d'accompagner les personnes qui souhaitent améliorer la gestion de leur budget, faire face à une situation financière difficile ou anticiper un changement de situation familiale ou professionnelle. Ils visent à prévenir le surendettement et à favoriser l'éducation budgétaire.</p>
            </div>
        </article>
        <article class="flex-container">
            <div class="column">
                <h3 >De quoi s’agit-il ?</h3>
                <div >
                    <p> Crésus Gironde est labellisé PCB et nos bénévoles expérimentés vous proposent des conseils confidentiels, gratuits et personnalisés concernant la gestion de votre budget.</p>
                    <p>Ces bénévoles répondent tous à une charte nationale, gage de la qualité et de l’indépendance des conseils donnés.</p>

                </div>
                <h3 >Pourquoi ?</h3>
                <div >
                    <p> Les PCB vous informent et vous conseillent lorsque :</p>
                    <br>
                    <p> <b>vous souhaitez améliorer la gestion de votre budget :</b> épargne, crédits, assurances, impôts, factures d’électricité de gaz ou de téléphone.</p>
                    <p> <b>vous rencontrez une situation financière difficile :</b> baisse de vos revenus ou augmentation de vos charges par exemple. Vous souhaitez anticiper un changement de situation familiale ou professionnelle.</p>
                </div>
            </div>
            <div class="column">
                <h3 >Pour qui ?</h3>
                <div >
                    <p> Le dispositif s’adresse à toutes les personnes qui souhaitent obtenir des conseils sur leur situation financière ou des informations générales.</p>

                </div>
                <h3 >Comment ?</h3>
                <div >
                    <p> Via des entretiens en face à face, le référent Crésus    </p>
                    <p> - répond à vos questions,</p>
                    <p> - identifie les aides dont vous pouvez bénéficier.</p>
                    <br>
                    <p> Il peut également réaliser un diagnostic complet de votre budget familial, et vous accompagner dans la durée pour que vous trouviez des solutions et reveniez à une situation maitrisée et mieux vécue.</p>
                    <div class="bouton">
                        <a href="{{ path("noustrouver") }}">Nous contacter</a>
                    </div>
                </div>
            </div>
        </article>

    </section>

{% endblock %}