{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    - Surendettement
{% endblock %}

{% block main %}

    <section class="surendettement">
        <div class="title-container">
            <ul class="title-list">
                <li class="title-icon"><img src="{{ asset('img/img-surendettement.gif') }}" alt="picto surendettement" class="title-img1" /></li>
                <li><h1>LE  SURENDETTEMENT</h1></li>
                <li class="title-icon"><img src="{{ asset('img/zz.jpg') }}" alt="aider" class="title-img2" /></li>
            </ul>
        </div>
        <div>
            <article class="centre">
                <h4> Vous ne parvenez plus à faire face à vos dettes et voulez déposer une demande de traitement de votre situation de surendettement ?</h4>
                <h4> Cette procédure est gratuite et mise en œuvre par la Banque de France.</h4>
                <br>
                <h4> Voici des réponses à vos questions sur le surendettement.</h4>
            </article>
        </div>
        <div class="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <article>
                        <h3 >Pourquoi faire un dossier de surendettement ?</h3>
                        <div >
                            <p> Déposer un dossier vous permet de :</p>
                            <ul>
                                <li> Faire la clarté sur votre situation financière.</li>
                                <li> Mettre un terme à une situation dangereuse pour vous et pour votre famille.</li>
                                <li> Vous mettre sous la protection de la loi face aux actions parfois violentes des officines de recouvrement des dettes.</li>
                                <li> Bénéficier d’une solution équitable qui vous permettra de rembourser vos créanciers en fonction de vos moyens – mais pas au-delà.</li>
                            </ul>
                            <p class="jaune"> En contrepartie, vous n’aurez plus la possibilité de contracter de nouveaux prêts pendant toute la durée du plan de remboursement. Vous serez donc inscrit au FICP (Fichier des Incidents de remboursement de Crédit aux Particuliers), tenu par la Banque de France. </p>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3 >Qui peut être concerné par le surendettement ?</h3>
                        <div >
                            <p> Tout le monde peut être concerné par le surendettement. Et les causes peuvent être multiples :</p>
                            <ul>
                                <li>Licenciement,</li>
                                <li>Divorce/séparation,</li>
                                <li>Passage à la retraite,</li>
                                <li>Baisse des ressources,</li>
                                <li>Endettement trop important</li>
                                <li>etc</li>
                            </ul>
                            <p>  et ce quels que soient vos revenus, faibles ou élevés !</p>
                            <p class="jaune"> Quelle qu'en soit la raison, si vous êtes de bonne foi, vous pouvez déposer un dossier de surendettement. </p>
                            <br>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3>Quelles conditions pour déposer un dossier de surendettement ?</h3>
                        <div>
                            <p> Vous pouvez déposer un dossier de surendettement si vous remplissez les conditions suivantes:</p>
                            <ul>
                                <li>Vous êtes un particulier</li>
                                <li>Vous n’êtes plus en mesure de payer vos charges et/ou de rembourser vos dettes personnelles</li>
                                <li>Vous êtes domicilié en France, que vous soyez français ou étranger.</li>
                            </ul>
                            <br>
                            <p class="ital"> Point particulier des artisans, commerçants, agriculteurs ou une personne exerçant une profession indépendante : vous relevez des procédures collectives régies par le Code du Commerce et devez effectuer directement une demande auprès du tribunal de commerce ou judiciaire de votre lieu d'activité.
                                <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F32095" target="_blank" rel="noopener">En savoir +</a></p>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3 >Comment déposer un dossier de surendettement ?</h3>
                        <div >
                            <p> Nous pouvons le faire ensemble dans nos permanences, nous vous accueillons pour vous écouter, vous conseiller et vous aider dans la constitution de votre dossier.</p>
                            <br>
                            <p> Vous pouvez aussi le faire par vous-même en allant sur le site internet de la&nbsp;<a href="https://particuliers.banque-france.fr/surendettement/deposer-un-dossier-de-surendettement" target="_blank"><strong>Banque de France</strong> : </a></p>
                            <ul>
                                <li>Compléter le formulaire en ligne</li>
                                <li>Télécharger les justificatifs</li>
                                <li>Signer le dossier en ligne..</li>
                            </ul>
                            <br>
                            <br>
                            <div class="bouton">
                                <a href="{{ path("noustrouver") }}"> Nous contacter</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3 >Mon dossier de surendettement est envoyé</h3>
                        <div>
                            <p> Dans les jours qui suivent, la Banque de France vous adresse un accusé de réception de votre dossier, elle dispose de trois mois pour traiter votre dossier.</p>
                            <p> Elle examine votre dossier pour apprécier si vous êtes ou non en situation de surendettement, et si vous êtes de bonne foi. Pour cela, elle calcule votre capacité de remboursement.</p>
                            <p> Dans l’attente de la décision de recevabilité, vous devez continuer à régler vos dettes dans la mesure de vos possibilités.</p>
                            <p> Vous ne devez pas aggraver votre endettement en souscrivant de nouveaux crédits, ni vendre certains de vos biens au profit d’un créancier.</p>
                            <p> La Banque de France va vous envoyer des courriers relatifs au traitement de votre dossier, en particulier les courriers en recommandé avec accusé de réception. Il est important d'en prendre connaissance.</p>
                            <p> Dans le cas où Crésus Gironde vous a aidé à constituer le dossier, nous vous appellerons pour faire le point.</p>
                            <br>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3>Mon dossier de surendettement est recevable</h3>
                        <div>
                            <p> La Commission de la Banque de France a décidé que vous êtes en situation de surendettement et que vous pouvez bénéficier de la procédure de traitement du surendettement des particuliers.</p>
                            <p> A partir du moment où votre dossier est <strong>recevable</strong>, nous n'avez plus à payer vos dettes et crédits jusqu'à la fin du traitement de votre dossier.</p>
                            <p> La Commission prend contact avec vos différents créanciers et essaie de trouver des solutions conformes à votre capacité de remboursement, avec éventuellement une diminution des intérêts et/ou du capital restant dû (remise partielle de dette).</p>
                            <p> Plusieurs courriers, en fonction de l'avancement de votre dossier vous seront envoyés. Par exemple :</p>
                            <ul>
                                <li>Etat détaillé des dettes : mise à jour des montants dus par les créanciers,</li>
                                <li>Demande de pièces complémentaires,</li>
                                <li>Projet de plan, ...</li>
                            </ul>
                            <p class="jaune">Vous avez à tout moment la possibilité de demander un recours ou d'annuler votre demande. </p>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3>Solutions proposées par la Banque de France si votre situation permet de régler vos dettes</h3>
                        <div>
                            <p class="jaune"> Votre situation actuelle permet de mettre en place une mensualité pour régler toutes vos dettes.</p>
                            <p>La Commission propose un plan de remboursement d’une durée maximale de sept ans.</p>
                            <p><strong>1 - Ce plan est accepté par tous les intéressés</strong> (c’est-à-dire par vous-même et par vos créanciers), il sera mis en œuvre. S’il a été suivi correctement, à l’issue du plan, l’ensemble des dettes sont considérées comme totalement remboursées. L’inscription au FICP est effacée.</p>
                            <p><strong>2 - Aucun accord amiable ne peut être trouvé,</strong> la Commission peut alors, si vous le souhaitez, imposer à vous-même et à vos créanciers des mesures de traitement de votre surendettement. Certaines mesures peuvent être recommandées par la Commission (effacement partiel par exemple) mais devront être validées par un juge.</p>
                            <br>
                            <p class="jaune"> Votre situation est susceptible de s’améliorer ou ne permet de régler qu’une partie de vos dettes :</p>
                            <ul>
                                <li>La Commission imposera directement à vous-même et à vos créanciers ou recommandera au juge les mesures de traitement adaptées.</li>
                            </ul>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3>Solutions proposées par la Banque de France si votre situation est compromise</h3>
                        <div>
                            <p class="jaune"> Votre capacité de remboursement est nulle ou négative de manière provisoire</p>
                            <p> La Commission peut décider un moratoire, qui consiste à suspendre le remboursement des mensualités pendant une durée maximale de deux ans. Un nouveau diagnostic financier est alors réalisé à l’issue de la période de moratoires.</p>
                            <br>
                            <p class="jaune"> Votre capacité de remboursement est nulle ou négative sans perspective de pouvoir redevenir positive</p>
                            <p> La Commission peut orienter la procédure vers une annulation totale et immédiate de l’ensemble des dettes en cours. C’est la Procédure de Rétablissement Personnelle (PRP).</p>

                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3>Vous avez besoin d'aide ou avez d'autres interrogations ?</h3>
                        <div>
                            <p> Un bénévole de Crésus Gironde  </p>
                            <ul>
                                <li>effectue un ou plusieurs points avec vous pour constituer un dossier conforme</li>
                                <li>et vous accompagne jusqu'à l'envoi du dossier de surendettement.</li>
                            </ul>
                            <br>
                            <p> Il sera aussi présent à vos côtés pendant toute la procédure.</p>
                            <div class="bouton">
                                <a href="{{ path("noustrouver") }}"> Nous contacter</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="carousel-controls">
                <button class="carousel-control prev">❮</button>
                <button class="carousel-control next">❯</button>
            </div>
            <!-- Pagination -->
            <div class="carousel-pagination">
                <span class="dot active" data-index="0"></span>
                <span class="dot" data-index="1"></span>
                <span class="dot" data-index="2"></span>
                <span class="dot" data-index="3"></span>
                <span class="dot" data-index="4"></span>
                <span class="dot" data-index="5"></span>
                <span class="dot" data-index="6"></span>
                <span class="dot" data-index="7"></span>
                <span class="dot" data-index="8"></span>
            </div>
        </div>
    </section>


{% endblock %}

{% block javascript %}
<script src="JS/surendettement.js"></script>
{% endblock %}