{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
    Cresus Accueil
{% endblock %}

{% block main %}

    <section class="surendettement">
        <div class="title-container">
            <ul class="title-list">
                <li class="title-icon"><img src="{{ asset('img/img-surendettement.gif') }}" alt="picto surendettement" class="title-img1" /></li>
                <li><h2>LE  SURENDETTEMENT</h2></li>
                <li class="title-icon"><img src="{{ asset('img/surendettement3.jpeg') }}" alt="picto surendettement" class="title-img2" /></li>
            </ul>
        </div>
        <div>
            <article>
                <h4> Vous ne parvenez plus à faire face à vos dettes et voulez déposer une demande de traitement de votre situation de surendettement ?</h4>
                <h4> Cette procédure est gratuite et mise en œuvre par la Banque de France .</h4>
                <br>
                <h4> Voici des réponses à vos questions sur le surendettement .</h4>
            </article>
        </div>
        <div class="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <article>
                        <h3 >Pourquoi faire un dossier de surendettement ? ?</h3>
                        <div >
                            <p> Déposer un dossier vous permet de:</p>
                            <ul>
                                <li>faire la clarté sur votre situation financière,</li>
                                <li>mettre un terme à une situation dangereuse pour vous et pour votre famille,</li>
                                <li>vous mettre sous la protection de la loi face aux actions parfois violentes des officines de recouvrement des dettee,</li>
                                <li>bénéficier d’une solution équitable qui vous permettra de rembourser vos créanciers en fonction de vos moyens – mais pas au-delà,</li>
                            </ul>
                            <p class="jaune"> En contrepartie, vous n’aurez plus la possibilité de contracter de nouveaux prêts pendant toute la durée du plan de remboursement. Vous serez donc inscrit au FICP (Fichier des Incidents de remboursement de Crédit aux Particuliers), tenu par la Banque de France.. </p>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3 >Qui peut être concerné par le surendettement ?</h3>
                        <div >
                            <p> Tout le monde peut être concerné par le surendettement. Et les causes peuvent être multiples :</p>
                            <ul>
                                <li>licenciement,</li>
                                <li>divorce / séparation,</li>
                                <li>passage à la retraite,</li>
                                <li>baisse des ressources,</li>
                                <li> endettement trop important,</li>
                                <li>...</li>
                            </ul>
                            <p>  et ce quelque soient vos revenus, faibles ou élevés !</p>
                            <p class="jaune"> Quelqu'en soit la raison, si vous êtes de bonne foi, vous pouvez déposer un dossier de surendettement. </p>
                            <br>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3>Quelles conditions pour déposer un dossier de surendettement ?</h3>
                        <div>
                            <p> Vous pouvez déposer un dossier de surendettement si vous remplissez les conditions suivantes :</p>
                            <ul>
                                <li>vous êtes un particulier,</li>
                                <li>vous n’êtes plus en mesure de payer vos charges et de rembourser vos dettes personnelles,</li>
                                <li>vous êtes domicilié en France, que vous soyez français ou étranger.</li>
                            </ul>
                            <br>
                            <p class="ital"> Point particulier des artisans, commerçants, agriculteurs ou une personnes exerçant une profession indépendante. Vous relevez des procédures collectives régies par le Code du Commerce et ne pouvez déposer de dossier de surendettement.
                                <a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F32095" target="_blank" rel="noopener">En savoir +</a></p>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3 >Comment déposer un dossier de surendettement ?</h3>
                        <div >
                            <p> Vous pouvez le faire par vous-même en allant sur le site internet de la &nbsp; <a href="https://particuliers.banque-france.fr/surendettement/deposer-un-dossier-de-surendettement"><strong> Banque de France</strong> : </a></p>
                            <p> Compléter le formulaire en ligne, télécharger les justificatifs et signer le dossier en ligne.</p>
                            <br>
                            <p> Or alors, nous pouvons aussi le faire ensemble dans nos permanences, nous vous accueillons pour vous écouter, vous conseiller et vous aider dans la constitution de votre dossier.</p>
                            <br>
                            <div class="bouton">
                                <a href="{{ path("noustrouver") }}"> Nous contacter</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3 >Mon dossier de surendettement est envoyé</h3>
                        <div>
                            <p> Dans les deux jours qui suivent, elle vous adresse un accusé de réception de votre dossier, et elle dispose de trois mois pour traiter votre dossier</p>
                            <p> Elle examine votre dossier pour apprécier si vous êtes ou non en situation de surendettement, et si vous êtes de bonne foi. Si c'est le cas, elle calcule votre capacité de remboursement</p>
                            <p> Dans l’attente de la décision de recevabilité, vous devez continuer à régler vos dettes dans la mesure de vos possibilités.</p>
                            <p> Vous ne devez pas aggraver votre endettement en souscrivant de nouveaux crédits, ni vendre certains de vos biens au profit d’un créancier.</p>
                            <p> La Banque de France va vous envoyer des courriers relatifs au traitement de votre dossier, en particulier les courriers en recommandé avec accusé de réception. Il est important d'en prendre connaissance.</p>
                            <p> Dans le cas où Crésus Gironde vous a aidé à constituer le dossier, nous vous appellerons pour expliquer ces courriers.</p>
                            <br>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3>Mon dossier de surendettement est recevable</h3>
                        <div>
                            <p> La commission a décidé que vous êtes vous êtes en situation de surendettement et que vous pouvez bénéficier de la procédure de traitement du surendettement des particuliers.</p>
                            <p> A partir du moment où votre dossier est recevable, nous n'avez plus à payer vos dettes et crédits jusqu'à la fin du traitement de votre dossier</p>
                            <p> La commission prend contact avec vos différents créanciers et elle essaie de trouver des solutions conformes à votre capacité de remboursement, en leur demandant éventuellement une diminution des intérêts ou du capital restant dû (remise partielle de dette)</p>
                            <p> Plusieurs courriers, en fonction de l'avancement de votre dossier vous seront envoyés, par exemple</p>
                            <ul>
                                <li>Etat détaillé des dettes : mise à jour des montants dus par les créanciers,</li>
                                <li>Demande de pièces complémentaires,</li>
                                <li>Projet de plan, ...</li>
                            </ul>
                            <p class="jaune">Vous avez à tout moment la possibilité de demander un recours ou d'annuler votre demande. </p>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3>Solutions proposées par la Banque de France si votre situation permet de régler vos dettes</h3>
                        <div>
                            <p class="jaune"> Si votre situation permet de régler toutes vos dettes :</p>
                            <ul>
                                <li>la commission  propose ensuite un plan de remboursement d’une durée maximale de sept ans.</li>
                                <li>Si ce plan est accepté par tous les intéressés (c’est-à-dire par vous-même et par vos créanciers), il sera mis en œuvre. S’il a été suivi correctement, à l’issue du plan, l’ensemble des dettes sont considérées comme totalement remboursées. L’inscription au FICP est effacée.</li>
                                <li>si aucun accord amiable ne peut être trouvé, la commission peut alors, si vous le souhaitez, imposer à vous-même et à vos créanciers des mesures de traitement de votre surendettement. Certaines mesures peuvent être recommandées par la commission (effacement partiel par exemple) mais devront être validées par un juge.</li>
                            </ul>
                            <p class="jaune"> Si votre situation est susceptible de s’améliorer ou ne permet de régler qu’une partie de vos dettes :</p>
                            <ul>
                                <li>la commission imposera directement à vous-même et à vos créanciers ou recommandera au juge les mesures de traitement adaptées.</li>
                            </ul>
                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3>Solutions proposées par la Banque de France Si votre situation est compromise</h3>
                        <div>
                            <p class="jaune"> Si votre capacité de remboursement est nulle ou négative de manière provisoire</p>
                            <p> La commission peut décider un moratoire, qui consiste à suspendre le remboursement des mensualités pendant une durée maximale de deux ans. Un nouveau diagnostic financier est alors réalisé à l’issue de la période de moratoires.</p>
                            <br>
                            <p class="jaune"> Si votre capacité de remboursement est nulle ou négative sans perspective de pouvoir redevenir positive</p>
                            <p> la Commission peut orienter la procédure vers une annulation totale et immédiate de l’ensemble des dettes en cours. C’est la Procédure de Rétablissement Personnelle (PRP).</p>

                        </div>
                    </article>
                </div>
                <div class="carousel-item">
                    <article>
                        <h3>Vous avez besoin d'aide ou avez d'autres interrogations ?</h3>
                        <div>
                            <p> Un bénévole de Crésus Gironde  </p>
                            <ul>
                                <li>effectue un ou plusieurs points avec vous constituer un dossier conforme</li>
                                <li>et vous accompagne jusqu'à l'envoi du dossier de surendettement.</li>
                            </ul>
                            <br>
                            <p> Il sera aussi présent à vos côtés pendant toute la procédure.</p>
                            <div class="bouton">
                                <a href="{{ path("noustrouver") }}"> Nous contacter</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="carousel-controls">
                <button class="carousel-control prev">❮</button>
                <button class="carousel-control next">❯</button>
            </div>
            <!-- Pagination -->
            <div class="carousel-pagination">
                <span class="dot active" data-index="0"></span>
                <span class="dot" data-index="1"></span>
                <span class="dot" data-index="2"></span>
                <span class="dot" data-index="3"></span>
                <span class="dot" data-index="4"></span>
                <span class="dot" data-index="5"></span>
                <span class="dot" data-index="6"></span>
                <span class="dot" data-index="7"></span>
                <span class="dot" data-index="8"></span>
            </div>
        </div>
    </section>


{% endblock %}

{% block javascript %}
<script src="JS/surendettement.js"></script>
{% endblock %}