{% extends 'interne/partial/intBase.html.twig' %}

{% block metatitle %}
   - erreur 403
{% endblock %}


{% block main %}

    <section>

                <h1 class="msgerreur">Accès réservé aux administrateurs ! </h1>

    </section>

{% endblock %}