{% extends 'gdPublic/partial/gpBase.html.twig' %}

{% block metatitle %}
   - erreur 403
{% endblock %}


{% block main %}

    <section>

                <h1 class="msgerreur">Page non trouvée ! </h1>

    </section>

{% endblock %}